.binaryInput td input {
  width: 1em;
}

#binary {
  margin: 0 auto;
}

#calculator {
  font-family: "Trebuchet MS", Arial, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#calculator td, #calculator th :not(#binary){
  border: 1px solid #ddd;
  padding: 8px;
}

#calculator tr:nth-child(even){background-color: #f2f2f2;}

#customers>tr>td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#binary, #binary td{
  margin: 0 auto;
  padding: 0;
  border: none;
}

button {
  border-radius: 5px;
  font-size: 1.3em;
  padding: 5px 15px;
  cursor: pointer;
  color: #333;
  background-color: #fdfdfd;
  font-weight: 100;
  border: 2px solid #ccc;
  border-bottom: 4px solid #ccc;
  box-shadow: 1px 1px #bbb, 2px 2px 3px #bbb; 
}

button:hover {
  opacity: 0.7;
}

button:active {
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px #bbb, 1px 1px 3px #bbb; 
}

#heading {
  font-size: 2em;
  padding: 20px;
  background-color: #fed5fe;
  color: #111;
}

.allButtons {
  width: 50%;
}

.all {
  margin: 10px 10%;
  font-size: 1.5em;
}
